body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  header {
    text-align: left;
    background-color: rgb(0, 0, 0);
    margin-left: 20px;
    letter-spacing:-4px;
  }
  
  h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    letter-spacing:-4px;
    margin: 10; /* Added to remove the margin */
    padding: 0; /* Added to remove the padding */
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 3s steps(30) infinite;
  }
  
  section {
    background-color: black;
    padding: 20px;
    letter-spacing:-4px;
    text-align: left;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  h2 {
    font-size: 70px;
    font-weight: bold;
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }
  
  li {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    color:white;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  h4 {
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    color:white;
  }
  
  h3 {
    font-size:70px;
    color:white;
  }
  

  footer {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px 0;
  }
  
  /* CSS styles for header animation */
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  #headerText {
    animation: fadeInOut 3s infinite;
  }

  #skillList {
    color:white;
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
  }

  /* Mobile styles */
@media (max-width: 600px) {
    h1 {
      font-size: 25px;
    }
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  section {
    position: relative;
    animation: floating 3s ease-in-out infinite;
  } 

  #headerText {
    overflow: hidden;
    display: inline-block;
    white-space:pre-line;
    animation: typewriter 3s steps(40);
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  #headerText br {
    display: none;
  }
   